.student-dashboard-details{
    display: flex;
    height: fit-content;
    padding: 5rem;
}

.student-dashboard-details-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(1700px, 100%);
    margin: 0 auto;
}

.student-dashboard-details-content-middle{
    display: flex;
    justify-content: space-between;
}

.student-dashboard-details-content-middle-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.student-dashboard-details-content-middle-left a{
    display: flex;
    flex-direction: column;
    background-color: #29176d;
    padding: 0.5rem 3rem;
    border-radius: 100rem;
    color: white;
}

.student-dashboard-details-content-middle-right{
    display: flex;
    width: min(30rem, 100%);
    justify-content: space-between;
    height: fit-content;
}

.student-dashboard-details-content-middle-right-content{
    width: min(13rem, 100%);
    height: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.student-dashboard-details-content-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.student-dashboard-details-content-bottom-content-search{
    display: flex;
    flex-direction: column;
    width: min(30rem, 100%);
    gap: 1rem;
}

.student-dashboard-details-content-bottom-content-search h2{
    align-self: flex-end;
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: #29176d;
}

.student-dashboard-details-content-bottom-content-search input{
    border: 1px solid black;
    padding: 0.8rem 1rem;
    width: 100%;
    border-radius: 10rem;
}

.student-dashboard-table{
    display: flex;
}

.student-dashboard-table-content{
    width: min(1700px, 100%);
    margin: 0 auto;
}


.student-ready-to-claim-request-table{
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem;
}

.student-ready-to-claim-request-table-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: min(1700px, 100%);
    gap: 4rem;
}

.student-dashboard-details-content-bottom-content-search{
    align-self: flex-end;
}

/* ======================= */


.about{
    display: flex;
    margin-top: 16rem;
    margin-bottom: 10rem;
}

.about-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: min(1200px, 100%);
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.about-content p{
    width: min(1000px, 100%);
}


.schedule{
    display: flex;
}

.schedule-content{
    display: flex;
    width: min(1200px, 100%);
    margin: 0 auto;
    justify-content: space-between;
}

.office-head{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(50%, 100%);
}

.office-head h1{
    width: min(40rem, 100%);
    color: black;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-profile{
    display: flex;
    align-items: center;
    width: min(30rem, 100%);
    gap: 2rem;
}

.card p{
    width: min(40rem, 100%);
}

.card-profile-image{
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    border-radius: 100rem;
    border: 3px #f4b213 solid;
}

.card-profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weekly-time-table{
    display: flex;
    flex-direction: column;
    width: min(30%, 100%);
    background-color: white;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 2rem;
}

.weekly-time-table-schedule{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 400px;
    height: fit-content;
    width: min(100%, 100%);

}

.weekly-time-table-schedule h4{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    border-bottom: 1px solid black;
}

.services{
    margin: 10rem 10rem;
    display: flex;
}

.services-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: min(1800px, 100%);
    margin: 0 auto;
    gap: 5rem;
}


.printing-services, .lamination-services{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-start;
    text-align: start;
    width: min(600px, 100%);
}

.book-binding-services{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-end;
    text-align: end;
    width: min(600px, 100%);
}



